/*@media screen and (min-width: 1800px) {*/


    /*.chart {*/
        /*position: relative;*/
        /*width: 50%;*/
        /*!*width: 40%;*!*/
        /*!*height: 20%;*!*/
    /*}*/
/*}*/
/*.react-date-picker{*/
    /*border: 2px solid green;*/
    /*font-family: Montserrat, 'Segoe UI', Tahoma, sans-serif;*/
/*}*/

.chart-block {
    /*width: 20%;*/
    /*height: 100%;*/
    width: 95%;
    height: 20%;
}

.chart {
    position: relative;
    width: 100%;
    height: 100%;
}


.chart-row {
    display: flex;
    justify-content: space-evenly;
}

/*.btn-group {*/
    /*text-align: center;*/
/*}*/